#page-header {
    padding: 14px;
	padding-left: 20px;
	font-size: 18pt;
	color: #FFFFFF;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

body {
	background-color: #EDEDED;
	padding-top: 0px;
	position: relative;
}

.content {
    margin-left: 30px;
	margin-top: 40px;
}

#about-me-title {
	align: center;
	text-align: center;
	margin-top: -20px;
}

#about-me-text {
	font-size: 16px;
	padding-bottom: 20px;
}

.column {
  float: left;
  width: 33.33%;
  text-align: center;
  padding-bottom: 40px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.contact-icons {
	width: 30px;
	height: 30px;
	margin: 0px 10px;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
}

.post-text {
	padding: 10px 20px;
}

.post-title {
	text-align: center;
	padding-bottom: 10px;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.blog-buttons, .blog-buttons:hover, .blog-buttons:visited {
    color: #834B6B;
    float: right;
    font-size: 20pt;
    margin-right: 40px;
	margin-left: -30px;
	padding: 0px 10px;
	align: right;
	margin-top: 30px!important;
}

#add-button {
	margin-top: 100px!important;
	align: right;
}

#add-button-div, #edit-buttons-div {
	position: absolute;
	z-index: 10;
	right: 0px;
}

.post {
	background-color: #FFFFFF;
	padding: 20px 40px;
	border-radius: 10px;
	margin-top: 0px;
	margin-bottom: 20px;
	display: inline-block;
}

#post-row {
	margin-top: 70px;
}

.post-detail {
	margin-bottom: 20px;
	background-color: #FFFFFF;
	padding: 20px 40px;
	border-radius: 10px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}

#post-image {
	margin-bottom: 20px;
	align: center;
	max-height: 500px;
}

#post-image-full {
	margin-bottom: 20px;
	align: center;
	width: 100%;
	
}

/* header */
.navbar-custom {
	background-color: #834B6B;
	margin-bottom: 0px !important;
}

/* links on header */
.nav.navbar-nav.navbar-right a {
	color: white;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 12pt;

}

/* links on header when hovered */
.nav.navbar-nav.navbar-right a:hover {
	color: black;
	background-color: #A67F95;
}

.carousel-inner > .item > img {
  margin: 0 auto;
  width: 100%
}

.carousel-inner .item{
	max-height: 800px;
}

.carousel-caption {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.61);
	width: 100%;
	align: center;
	text-align: center;
	transform: translateX(-20%);
}

.carousel-caption h3 a {
	color: white;
}

.container-fluid {
	display: block;
    margin-left: auto;
    margin-right: auto;
	position: relative;
	
}

.col-md-8 {
	padding-top: 50px;
}

.row.make-columns {
    -moz-column-width: 40em;
    -webkit-column-width: 40em;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em; 
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.row.make-columns > div {
    display: block;
    padding:  .5rem;
    width:  100%; 
}

.footer {
	position: relative;
	height: 50px;
	padding: 10px 0px;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #888888;
	color: white;
	text-align: center;
}

.footer a {
	color: white;
}

#homepage-container {
	background-color: white;
}

#contact-me-container {
	padding-bottom: 0px;
}